params {
    // For phidra
    phidra_dir = "/mnt/VEIL/users/nolanv/pipeline_project/VasilVEILPipeline/phidra"
    input_fasta = "/mnt/VEIL/users/nolanv/pipeline_project/ENA/ENA_2025_population_orfs.pep"
    pfamDB = "/mnt/VEIL/users/nolanv/pipeline_project/VasilVEILPipeline/phidra/pfam_database"
    proteins = [
    [ protein: "PolA", 
      pfamDomain: "/mnt/VEIL/users/nolanv/pipeline_project/VasilVEILPipeline/pola_PF00476_ida_file.tsv", 
      subjectDB: "/mnt/VEIL/users/nolanv/pipeline_project/VasilVEILPipeline/uniprotkb_DNA_polymerase_A_plus_BATS_his.fasta" ],

    [ protein: "helicase", 
      pfamDomain: "/mnt/VEIL/users/nolanv/pipeline_project/VasilVEILPipeline/helicase_ida_file.tsv", 
      subjectDB: "/mnt/VEIL/users/nolanv/pipeline_project/VasilVEILPipeline/HeliBase_2023-12-19.fasta" ]
]

    outdir = "/mnt/VEIL/users/nolanv/pipeline_project/VasilVEILPipeline/phidra_output_test/"
}