// below process declarations are biomix specific
process {
  withLabel: 'gpu' {
      executor = 'slurm'
      queue = 'gpu2'
      clusterOptions = '--gres=gpu:1 --partition=gpu2 --account=gpu2 --qos=gpu'
  }
}

conda {
  enabled = true
  cacheDir = ".nextflow/conda"   
  useMamba = false
}

singularity {
  enabled = true
  autoMounts = true
  // default singularity run options (enable GPU forwarding and bind project dir)
  runOptions = "--nv -B ${baseDir}"
}


process{
  withLabel: 'standard' {
    executor = 'slurm'
    queue = 'batch'
    cpus = 20
    memory = '80 GB'
    clusterOptions = '--partition=batch'
    time = '7d'
  }
}

params {

  // Location for output directory
  outdir = ""

  datasets = []

  // Phidra directory path (use baseDir so path is correct inside container)
  phidra_dir = "${baseDir}/phidra"

  // Pfam database path (currently using pfam db from phidra)
  pfamDB = "${baseDir}/phidra/pfam_database"

  // Protein data. Format is: proteins = [ [protein : "RNR", pfamDomain: "path/to/tsv.tsv", subjectDB: "path/to/subjectDB.faa", pasv_align_refs: "path/to/pasv_align_refs.fa"], [protein : "PolB" ...], ... ]
  // if there is no pasv_align_refs for specified protein, can leave item out of list.
  
  pasv_proteins = ["RNR", "PolA"]  // list of proteins to run pasv on, must be in the proteins list
  tophit_proteins = ["helicase"] // list of proteins to annotate through tophit, must be in the proteins list
  domain_proteins = ["PolB"]

  pasv_threshold = 0.01

  pasv_settings = [
    PolA: [
      mapped_name: 'PolA_putative',
      roi_start: 521,
      roi_end: 923,
      cat_sites: "668,705,758,762",
      expected_sigs: ['RDKY','RDKF','RDKL']
    ],
    RNR: [
      mapped_name: 'RNR_putative',
      roi_start: 437,
      roi_end: 625,
      cat_sites: "437,439,441,462,438",
      expected_sigs: ['NCECL','NCECV']
    ]
  ]


  pfam_annotation_map = [
    "rPolB" : "PF00136",
    "pPolB" : "PF03175"
  ]

  genofeature_metadata = "/mnt/VEIL/users/nolanv/embedding_test/protein_metadata_all.txt"

  proteins = [
    [ protein: "Helicase",
      pfamDomain: "/mnt/VEIL/tools/phidra_resources/ida_files/helicase_ida_file.tsv", 
      subjectDB: "/mnt/VEIL/references/helicase/HeliBase_v3_github.fasta",
      ],
    
    [ protein: "PolB",
      pfamDomain: "/mnt/VEIL/tools/phidra_resources/ida_files/polb_PF08490_PR00136_PF03175_ida_file.tsv", 
      subjectDB: "/mnt/VEIL/tools/phidra_resources/subject_db/polb_refs_pPolB_rPolB_piPolB.fasta"
      ]
  ] 

  // After running 1st pipeline run, do not change above fields, unless you want to restart.


  md = [0.3, 0.5, 0.7]
  nn = [75, 100]
  mc = [10, 30]



  // FOR FINAL ANALYSIS RUN:
  // Excluded genofeatures
  excluded_genofeatures = ['pPolB']

  // Leave this alone
  final_analysis = false

  // All datasets to exclude from final analysis
  exclude_datasets = []
  
  // All genofeatures to exclude from final analysis
  excluded_genofeatures = ['pPolB']
  
  final_md = 0.7
  final_nn = 100
}