// below process declarations are biomix specific

conda {
  enabled = true
  cacheDir = ".nextflow/conda"   
  useMamba = false
}

singularity {
  enabled = true
  autoMounts = true
  // default singularity run options (enable GPU forwarding and bind project dir)
  runOptions = "--nv -B ${baseDir} -B /bin/ps:/bin/ps -B /usr/bin/ps:/usr/bin/ps"
}



includeConfig 'conf/inputs.config'
includeConfig 'conf/base.config'

 // Leave this alone
params{
final_analysis = false
}

// def timestamp = new Date().format("yyyyMMdd_HHmmss")

// trace {
//     enabled = true
//     file = "${params.outdir}/pipeline_trace_${timestamp}.txt"
// }

// report {
//     enabled = true
//     file = "${params.outdir}/pipeline_report_${timestamp}.html"
// }

// timeline {
//     enabled = true
//     file = "${params.outdir}/pipeline_timeline_${timestamp}.html"
// }