process {
    withName: '.*:MULTIQC_SWEEP' {
        publishDir = [
            path: "${params.outdir}/04_parameter_selection/multiqc",
            mode: 'copy'
        ]
    }

    withName: '.*:MULTIQC_FINAL' {
        publishDir = [
            path: "${params.outdir}/05_final_analysis/multiqc",
            mode: 'copy'
        ]
    }
}