/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run VEIL/veilpipeline -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    datasets = [
        testENASample: "${projectDir}/assets/test_data/testENASample.pep"
    ]

    orf_coord_fields = [ testENASample: -3 ]

    phidra_dir = "${baseDir}/bin/phidra"
    pfamDB     = "${baseDir}/assets/test_data/pfam_test_db"   // trimmed subset, NOT full Pfam

    pasv_proteins   = ["PolA"]
    tophit_proteins = ["helicase"]
    domain_proteins = ["PolB"]

    pasv_threshold = 0.01

    pasv_settings = [
        PolA: [
            mapped_name: 'PolA_putative',
            roi_start: 521,
            roi_end: 923,
            cat_sites: "668,705,758,762",
            expected_sigs: ['RDKY','RDKF','RDKL']
        ]
    ]

    pfam_annotation_map = [
        "PF00136": "rPolB", 
        "PF03175": "pPolB" 
    ]

    genofeature_metadata = "${projectDir}/assets/test_data/protein_metadata_all_test.txt"

    final_analysis = false
}
